*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    
}

header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
header{
background-color: #faf9f9;
}
.navigation a {
    color: #8e3535;
    position: relative;
    font-size: 1.1rem;
    text-decoration: wavy;
    font-weight: 700;
    margin-left: 50px;
}

.logo {
    color: #020101;
    font-size: 2rem;
    color: rgb(250, 249, 249);
    user-select: none;
    margin-left: -850px;
}

.navigation .btnLogin-popup {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #070707;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1 rem;
    color: rgb(59, 20, 20);
    font-weight: 500;
    margin-left: 75px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #5a2424;
    color: #fbf9f9;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ff7777;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

body {
background-color: #ff7777;

}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('')  ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

* {box-sizing:border-box}

/* Slideshow container */
 .slideshow-container {
  max-width: 10000px;
  position: relative;
  margin: auto;
  margin-top: 100px;
  
}

/* Hide the images by default */
 .mySlides {
  display: none;
}

/* Next & previous buttons */
 .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
 .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
  background-color: #ff7777;
}

/* Caption text */
 .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #8e3535;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.Logo {
    height: 150px;
    width: 130px;
    size: 100px;
    margin-left: -200px;
}

#header-heading2 {
    height: 300px;
    width: 400px;
    size: 250px;
    align-items: center;
    margin-top: 750px;
    margin-left: 45px;

}

.Tutor_Bot .Logo_2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150px;
    color: #8e3535;
    align-items: center;
    margin-left: 525px;
    margin-top: 250px;
}

.nt {
    height: 450px;
    width: 500px;
    margin-left: 50px;
    margin-top: 250px;
}

.Mi {
    color: #faf9f9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}

.Mission {
    color: #faf9f9;
    margin-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-top: 100px;
    text-align: justify;
    margin-right: 50px;
}

.Tb {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #8e3535;
    margin-left: 50px;
}

.Vision {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #faf9f9;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;

}

.vision {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #faf9f9;
    font-size: 35px;
    margin-left: 50px;
    margin-top: 50px;
}

.Merch {
    color: white;
    font-size: 50px;
    margin-top: 200px;
    text-align: center;
}

.merch1 {
    height: 300px;
    width: 400px;
    margin-top: 35px;
}

.merch2 {
    height: 325px;
    width: 250px;
    margin-top: -145px;
    margin-left: 300px;
}

.merch3 {
    height: 300px;
    width: 400px;
    margin-top: -220px;
    margin-left: 525px;
}

.p1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 110px;
    margin-top: -160px;
    color: white;
}

.pp1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 80px;
    margin-top: 30px;
    color: white;
}

.p2 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 590px;
    margin-top: -145px;
    color: white;
}

.pp2 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 610px;
    margin-top: 30px;
    color: white;
}

.p3 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1140px;
    margin-top: -145px;
    color: white;
}

.pp3 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1130px;
    margin-top: 30px;
    color: white;
}

footer {
    background-color: #faf9f9;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    margin-top: 200px;

}

.socialicons {
    display: flex;
    justify-content: center;

}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: #fcfafa;
    margin: 10px;
    border-radius: 50%;
    size: 20px;
}

.socialicons a i {
    font-size: 2em;
    color: #020101;
    opacity: 0.9;
}

/* Hover effects on Social Media Icons */
.socialicons a:hover {
    background-color: #020101;
    color: white;
    transition: 0.9;
}

.socialicons a:hover i {
    color: #fdfcfc;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: #010101;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 3;
}

.footerBottom {
    background-color: #faf9f9;
    padding: 20px;
    text-align: center;

}

.footerBottom p {
    color: #010101;
}
.designer {
    opacity: 0.7;
    text-transform: u;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

.icon {
    width: 100px;
    height: 100px;
  }

.slide_image{
    width: 100%;
}